.off{
    background-color: gold;
    font-size: larger;
    color: rgb(0, 0, 0);
    padding: 4%;
    margin: 7%;
    border-radius: 20px 20px 20px;
    box-shadow: 10px 10px 10px;
    text-shadow: 10px 10px 10px;
}
#john{
    color: rgb(255, 255, 255);
    margin: 20px 20px;
    padding: 20px;
    border-radius: 20px 20px;
    background-color: rgb(255, 174, 13);
    box-shadow: 20px yellow;
    box-sizing: content-box;
    text-shadow: 10px 10px 10px black ;
    box-shadow: 10px 10px 10px rgb(50, 23, 55);
}
.img{
    margin: 30px 30px 30px;
    padding: 2px;
    border-radius: 30px 30px 30px ;
    background-color: rgb(153, 171, 193);
    box-shadow: 20px 20px 20px rgb(129, 255, 3);
}